
.app-contanier{
	background: #AFD4C0;
	padding-top: 75px;
	background-color: #afd4c0;
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: -ms-flexbox; 
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	
}

img{
	height: 150px;
	width: auto;
	margin: 5px;
}

